@import "tailwindcss";

@theme inline {
  --color-primary: #2b6cee;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --color-pastel-blue: #A2D2FF;
  --color-soft-purple: #CDB4DB;
  --color-warm-yellow: #FFD6A5;
  --color-fresh-green: #BDE0FE;
  
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --radius: 1rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2rem;
  --radius-full: 9999px;
}

body {
  font-family: var(--font-display);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.signup-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.signup-form.show {
  display: flex;
}

.signup-form .signup-panel {
  margin: 20px;
}
